.git
.idea
.htaccess
*.lnk
/*.php
/*.html
/*.txt
/blogs/*
/tmp/*
/wp-admin/*
/wp-includes/*
/wp-content/*.php
/wp-content/cache/*
/wp-content/languages/*
/wp-content/plugins/*.php
/wp-content/plugins/akismet/*
/wp-content/plugins/quests-city/*.log
/wp-content/upgrade/*
/wp-content/uploads/*
/wp-content/themes/*
!/wp-content/plugins/quests-city/*
/wp-content/plugins/quests-city/vendor/*
/wp-content/plugins/quests-city/report/*
/wp-content/plugins/quests-city/composer.lock
/node_modules/*
package-lock.json