<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"

        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <!-- this is the path of the files included in your clover report -->
            <!-- Папки с расширением .php которые будут включены в отчет -->
            <directory suffix=".php">./PHP</directory>
        </whitelist>
    </filter>
    <logging>
        <!-- and this is where your report will be written -->
        <!-- Описано что в папку  report в корне проекта создастся отчет в формате html-->
        <log type="coverage-html" target="./report"/>
    </logging>
    <testsuites>
        <testsuite name="Unit test">
            <!-- Дирректории в которых будут искаться и запускаться юнит тесты-->
            <directory>./PHP</directory>
        </testsuite>
    </testsuites>
</phpunit>

