/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
li {
  color: black;
}
.dragging {
  opacity: 0.8;
  color: #6894D1;
}
.drag-over {
  text-decoration: underline;
}
.drag-enter {
  color: #C93742;
}