
/*--
	Author: W3layouts
	Author URL: http://w3layouts.com
        Distributor: http://bootstraptema.ru/
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- Reset Code --*/
body {
  padding: 0;
  margin: 0;
  background: #FFF;
  font-family: 'Open Sans', sans-serif;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body a:focus, a:hover {
  text-decoration: none;
}
#masthead {
  min-height:199px;
  background-color:#000044;
  color:#aaaacc;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:#111166;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}

input[type="button"], input[type="submit"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing:1px;
}
p {
  margin:0;
}
ul {
  margin:0;
  padding:0;
}
label {
  margin:0;
}
a:focus, a:hover {
  text-decoration: none;
  outline: none
}
img {
  width: 100%;
}
/*-- //Reset Code --*/



/*-- Banner--*/

.header{
  min-height: 200px;
  padding:40px 0px;
  top:0;
  left:0;
  width: 100%;
}
.logo{
  float:left;
  width:100%;
}
.logo h2{
  text-align:left;
  font-size:50px;
  color: #ff001f;
  letter-spacing:0px;
}
span.eh{
  font-family: 'Meddon', cursive;
  font-size: 50px;
  color: #E91E63;
}
.total-navbar{
  float:right;
  width:70%;
  margin-top:7px;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color:  #E91E63;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #E91E63;
  background-color: transparent;
}
.navbar-default {
  background-color:transparent;
  border-color: transparent;
}

/* Wobble Skew */
@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

.hvr-wobble-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
  -webkit-animation-name: hvr-wobble-skew;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

label.line {
  background-color: #E91E63;
  width: 5%;
  margin: 20px auto;
  display: block;
  height: 3px;
}
.carousel-caption {
  padding-bottom: 150px;
}
.carousel-caption h3{
  text-transform:uppercase;
  font-size:25px;
  color:#fff;
}

.carousel-caption h1{
  font-size:35px;
  margin:35px 0px;
  color:#fff;
}
h3.sh,h3.th{
  font-size:35px;
  margin:35px 0px;
  color:#fff;
  text-transform: none;

}
.carousel-caption p{
  width:50%;
  margin:0 auto;
  font-size:14px;
  color:#eee;
  line-height:30px;
}
.carousel-caption a{
  font-size:14px;
  color:#fff;
  padding:7px 15px;
  display:inline-block;
  margin-top:70px;
}
.carousel-caption a:hover{
  background:#000;
  transition: 01s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -ms-transition: 1s all;
}
.carousel-indicators li {
  border-radius:0;
}


/*-- //Banner--*/


/*-- Creative--*/
.box{
  max-width: max-content;
}
.creative-left{
  padding:0;
  background-color: #ffffff;
  height: 530px;
}
.btn-my{
  margin-right: 50px;
  border-radius: 5px;
}

.creative-center{
  padding:0px 10px 0px 10px;
  text-align:left;
  min-height:530px;
  /*border: 4px double black;*/
  /*z-index: 20;*/
}

.creative-center h3{
  font-size:35px;
  text-align:left;
  margin-bottom:20px;
  color:#E91E63;
}
.creative-center p{
  font-size:14px;
  line-height:30px;
  margin-bottom:25px;
  color:#999;
}
.creative-center .fa {
  color: #000;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 8px;
}
.creative-center h4{
  text-align:left;
  font-size:20px;
  color:#000;
}
.creative-last{
  padding:0px 0px 0px 1px;
  height: 530px;
  background-color: #e7eaea;
}
#scrolling{
  max-height: 530px;
  overflow-y: scroll;
}

.panel-group {
  margin-bottom: 0;
}

#style-2::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

#style-2::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}


.collapsed span {
  display: inline-block;
  z-index: 99999;

}

.pa_italic i, .collapsed span {
  font-size: 0.6em;
  color: #212121;
}

.collapsed i {
  display: none;
}

.collapsed span {
  display: inline-block;
}
.pa_italic label {
  font-size: .7em;
  color: #212121;
  padding-left: 3.5em;
  cursor: pointer;
}

.pa_italic span.glyphicon {
  float: left;
}

.panel_text {
  color: #999;
  line-height: 25px;
}

.panel-default>.panel-heading {
  background-color: transparent;
  border:1px solid #000;
}
.panel span {
  font-size: 16px;
  color: #000;
  border:none;
  top: 11px;
}
.scrollbar {
  height: 100px;
  background: #fff;
  overflow-y: scroll;
}
#style-2::-webkit-scrollbar-thumb {
  background-color: #E91E63;
}

/*--//Creative--*/


/*-- Video--*/
.video{
  background:url('../images/videobg.jpg') no-repeat 0px 0px;
  background-attachment:fixed;
  background-size:cover;
  padding:100px 0px;
  text-align:center;
}
.video h3{
  font-size:35px;
  color:#E91E63;
  margin-bottom:40px;
}
.video a{
  color:#fff;
  border:1px dotted #fff;
  padding:10px 20px;
  font-size:30px;
  margin-bottom:30px;
  display:inline-block;
}
.video p{
  color:#eee;
  font-size:14px;
  width:25%;
  margin:0 auto;
  line-height:27px;
}
.video .modal-content {
  background-color:rgba(233, 30, 99, 0.53);
}

.video .modal-header {
  min-height: 50px;
  padding: 0 15px;
  border-bottom: none;
}
.video .modal-header .close {
  margin: 20px 10px 0 0;
  color: #FFF;
  font-size: 30px;
  outline: none;
}

.video iframe {
  width: 100%;
  height: 500px;
  border:none;
}
/*-- //Video--*/



/*-- Services--*/
.services{
  padding:50px 0px;
  background:#fff;
}
.services h3{
  text-align:left;
  font-size:35px;
  color:#E91E63;
  margin-bottom:45px;
}
.services-left h4{
  margin-bottom:4px;
  color:#000;
  font-size:20px;
  text-align:left;
  font-weight: 600;
}

.service2{
  margin:20px 0px;
}

/* Icon Float Away */
@-webkit-keyframes hvr-icon-float-away {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em);
  }
}

@keyframes hvr-icon-float-away {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-1em);
    transform: translateY(-1em);
  }
}

/* Icon Float Away */
.hvr-icon-float-away {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
}
.service1 .hvr-icon-float-away:before, .service1 .hvr-icon-float-away:after {
  content:"\f08a";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
}

.service2 .hvr-icon-float-away:before, .service2 .hvr-icon-float-away:after {
  content:"\f006";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
}

.service3 .hvr-icon-float-away:before, .service3 .hvr-icon-float-away:after {
  content:"\f219";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
}

.hvr-icon-float-away:after {
  opacity: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.hvr-icon-float-away:hover:after, .hvr-icon-float-away:focus:after, .hvr-icon-float-away:active:after {
  -webkit-animation-name: hvr-icon-float-away;
  animation-name: hvr-icon-float-away;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
.services .glyphicon {
  font-size: 45px;
  color:#E91E63;
}
.services-left p{
  text-align:left;
  font-size:14px;
  line-height:20px;
  color:#999;
}
.services-right h4{
  margin-bottom:20px;
  line-height:30px;
  color:#000;
  font-size:20px;
  text-align:left;
  font-weight: 600;
}
.services-right p{
  text-align:left;
  font-size:14px;
  line-height:30px;
}

.services-right a{
  color:#fff;
  padding:7px 15px;
  display:inline-block;
  font-size:14px;
  margin-top:15px;
  border:1px solid #E91E63;
}
.services-right a:hover{
  color:#E91E63;
  border:1px solid #E91E63;
}
/*-- //Services--*/

/*--Footer--*/
.footer{
  background-color:#000;
}
.footer-top{
  padding:25px 0px;
}
.footer-top ul {
  width: 41%;
  margin: 0 auto;
}
.footer-top ul li {
  display:inline-block;
}
.footer-top ul li a{
  color:#fff;
  padding:0 29px;
}
.footer-top ul li a:hover{
  color:#E91E63;
}
.footer-top ul li:nth-child(1) ,.footer-top ul li:nth-child(2),.footer-top ul li:nth-child(3) {
  border-right: 1px solid #2F2F2F;
}
.footer-middle{
  padding:30px 0px;
  border-top:1px solid #2F2F2F;
  border-bottom: 1px solid #2F2F2F;
}
.footer-middle h3,.footer-middle h4,.footer-middle h5{
  text-align:left;
  color:#fff;
}
.footer-middle h4{
  font-size:20px;
  margin-bottom:15px;
}
.footer-middle h5{
  font-size:14px;
  margin-bottom:5px;
  color:#A9A9A9;
}
.footer-middle h3{
  font-size:35px;
}
.footer-middlem,.footer-midller{
  padding:0;
}
span.e{
  font-family: 'Meddon', cursive;
  font-size:30px;
  color:#E91E63;
}
.touch{
  margin-bottom:20px;
}
.touch img{
  width:25%;

}
.touch input[type="text"] {
  width: 55%;
  padding: 8px 10px;
  background: #fff;
  border:1px solid #000;
  margin: 10px 14px 13px 66px;
  color: #000;
  font-size:14px;
}
.touch input[type="submit"] {
  background: #E91E63;
  border: none;
  padding: 8px 15px;
  outline: none;
  color:#fff;
  font-size:14px;
}
.touch input[type="submit"]:hover {
  background:#000;

}
.touch, .social-icons {
  background: #1E1F1F;
  border: 1px dotted #6D6262;
}
.social-icons{
  padding:10px 127px;
}
.social-icons .fa{
  font-size:25px!important;
  color:#fff!important;
  padding:0 10px!important;
}
.social-icons .fa:hover{
  color: #E91E63!important;
  transition: 01s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -ms-transition: 1s all;
}
.footer-bottom{
  padding:25px 0px;
}
.footer-bottom p{
  font-size:14px;
  color:#eee;
}
.footer-bottom a{
  color:#E91E63;
}
.footer-bottom a:hover{
  color:#eee;
}
/*--//Footer--*/

/*-- to-top --*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 2%;
  overflow: hidden;
  z-index: 999;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url(../images/up-arrow.png) no-repeat 0px 0px;
}
#toTopHover {
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}
/*-- //to-top --*/

/*--about--*/
.about{
  padding:50px 0px;
}

.about h4{
  text-align:left;
  font-size:20px;
  line-height:30px;
  margin-bottom:30px;
  color:#000;
  font-weight:600;
  letter-spacing:0px;
}
.about p{
  font-size:14px;
  color:#000;
  line-height:30px;
}
.about a{
  font-size:14px;
  color:#fff;
  padding:7px 15px;
  display:inline-block;
  margin-top:15px;
  border:1px solid #E91E63;
}
.about a:hover{
  color:#E91E63;
  border:1px solid #E91E63;
}
.about-bottom i.fa{
  font-size:40px;
  color:#fff;
  border:1px solid #fff;
  padding:10px;
}
.icon:hover i.fa{
  color:#000;
  border:1px solid #000;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.about-bottom h1{
  font-size:50px;
  color:#fff;
  margin-bottom:50px;
}
.icon1,.icon2{
  margin-bottom:30px;
}
.icon-text{
  padding:0;
}
.about-bottom h5{
  text-align:left;
  font-size:27px;
  color:#fff;
  margin-bottom:0.5em
}
.about-bottom p{
  font-size:14px;
  color:#fff;
  line-height:30px;
}
.team{
  padding:50px 0px;
}
.team h3{
  font-size:50px;
  color: #E91E63;
  margin-bottom:50px;
}
.team h4{
  text-align:left;
  font-size:20px;
  color:#000;
  margin:10px 0px;
  font-weight:600;
}
.team h5 {
  text-align: left;
  font-size: 14px;
  color: #8C8C8C;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
}
.team a{
  color:#000;
  font-size:16px;
  padding:5px;
  border:1px solid #000;
  display:inline-block;
  margin-top:10px;
}
.team i.fa-linkedin{
  padding: 2px 4px;
}
.team i.fa-twitter{
  padding:1px 2.5px;
}
.team a:hover{
  color:#fff;
  background-color:#E91E63;
  border:1px solid #E91E63;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/*--//about--*/


/*--gallery--*/

.portfolio{
  padding:50px 0px;
}
.portfolio h1{
  color:#000;
  font-size:50px;
  margin-bottom:40px;
}
/*--SAP--*/
.sap_tabs{
  clear:both;
  padding: 0;
}
.tab_box{
  background:#fd926d;
  padding: 2em;
}
.top1{
  margin-top: 2%;
}
.resp-tabs-list {
  list-style: none;
  padding: 0 0 3em;
  margin: 0 auto;
  text-align: center;
}
.resp-tab-item {
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  text-align: center;
  list-style: none;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  margin: 0 1.2em 0;
  border-bottom: 2px solid #fff;
  color:#E91E63;
  padding:7px 15px;
  border:1px solid #E91E63;
}

.resp-tab-active {
  background-color:#E91E63;
  color:#fff;

}
.resp-tabs-container {
  padding: 0px;
  clear: left;
}
h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}
.resp-tab-content {
  display: none;
}
.resp-content-active, .resp-accordion-active {
  display: block;
}

.tab_img{
  padding:2em 0 0;
  display: inline-block;
}
/*--//SAP--*/
.portfolio-grids{
  padding:15px;
  width:23%;
  margin:13px 1%;
  border:1px solid #000;
}

.gallery-section {
  padding:4em 0 4em 0;
  text-align: center;
}
.grid {
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
.grid {
  display: inline-block;
  width: 440px;
  margin: 0;
  padding: 0px;
  text-align: left;
  position: relative;

}
.grid figure {
  margin: 0;
  position: relative;
}
.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}
.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: rgba(233, 30, 99, 0.64);
  color: #fff;
}
.grid figcaption span:before {
  content: ' ';
}
.grid figcaption a {
  text-align: center;
  padding: 9px 21px;
  font-size: 0.8em;
  display: inline-block;
  background: #15191C;
  color: #fff;
  text-decoration: none;
}
.grid figcaption a:hover {
  background-color:#464042;
}
.cs-style-1 figcaption {
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translate(15px, 15px);
  -moz-transform: translate(15px, 15px);
  -ms-transform: translate(15px, 15px);
  transform: translate(15px, 15px);
}
.cs-style-1 figcaption h3 {
  font-size: 2.5em;
  color: #fff;
  margin: 0.5em 0 0.3em 0;
}

.cs-style-1 figcaption span {
  font-size: 0.9em;
  display: block;
}
.cs-style-1 figcaption a {
  margin-top:1em;
}
/* Caption Style 1 */
.categorie-grids {
  margin-top:3em;
}
.cate-grid {
  background-size: 100%;
  margin: 0 10px;
  width: 22%;
  padding: 20px;
  margin: 1.5%;
  border: 1px solid #000;
}
.cate-grid h4 {
  color: #e21737;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 13px;
}
.cate-grid p {
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
}
a.store {
  color: #fff;
  font-size: .95em;
  border: 2px solid #000;
  border-radius: 7px;
  -web-kit-border-radius:7px;
  -o-border-radius:7px;
  -ms-border-radius:7px;
  -moz-border-radius:7px;
  font-weight: 500;
  display: inline-block;
  padding: 0.7em 2.2em;
  margin-top: 1.5em;
}
a.store:hover{
  border:2px solid #e21737;
  color:#e21737;
}

/*-- Typography-Page-Styling --*/

.typography {
  padding:50px 0px;
}
h1.mh{
  font-size:50px;
  color:#E91E63;
  margin-bottom:30px;
}
.well {
  font-weight: 300;
  font-size: 14px;
}

.list-group-item {
  font-weight: 300;
  font-size: 14px;
}

li.list-group-item1 {
  font-size: 14px;
  font-weight: 300;
}

.typo p {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}

.show-grid [class^=col-] {
  background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}

.grid_3 {
  margin-bottom: 2em;
}

.xs h3, h3.m_1 {
  color: #000;
  font-size: 1.7em;
  font-weight: 300;
  margin-bottom: 1em;
}

.grid_3 p {
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}

.grid_4 {
  background: none;
}

.label {
  font-weight: 300!important;
  border-radius: 4px;
}

.grid_5 {
  background: none;
  padding: 2em 0;
}

.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, .grid_5 h6, h3.hdg, h3.bars {
  margin-bottom: 1em;
  color: #6BC676;
  text-align: left;
}

h3.hdg {
  font-size: 30px;
  font-weight: 600;
}

.table h1, .table h2, .table h3, .table h4, .table h5, .table h6 {
  text-align: left;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none!important;
}

.grid_3 .table td {
  padding-left: 0!important;
}

.tab-content > .active {
  display: block;
  visibility: visible;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}

.badge-primary {
  background-color: #03a9f4;
}

.badge-success {
  background-color: #8bc34a;
}

.badge-warning {
  background-color: #ffc107;
}

.badge-danger {
  background-color: #e51c23;
}

.grid_3 p {
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}

.bs-docs-example {
  margin: 1em 0;
}

section#tables p {
  margin-top: 1em;
}

.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}

.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
  padding-left: 0px!important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #999;
  border-top: none!important;
}

.tab-content > .active {
  display: block;
  visibility: visible;
}

.label {
  font-weight: 300!important;
}

.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}

.nav-tabs {
  margin-bottom: 1em;
}

.alert {
  font-size: 0.85em;
}

h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
  line-height: 1.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

li.list-group-item1 {
  line-height: 2.5em;
}

.input-group {
  margin-bottom: 20px;
}



ol {
  margin-bottom: 44px;
  padding-left: 15px;
}

h2.typoh2 {
  margin: 0 0 10px;
}

.col-md-6 img{

  margin-top: 15px;
  max-height: 100px;
  max-width: 100px;
  vertical-align: center;
}
.col-md-6 p{
  font-size: 20pt;

}

.list a{
  display: flow;
  text-align: -webkit-match-parent;
  background: #4cae4c	;
}

/*--Contact--*/
.contact{
  padding:50px 0px;
}
.contact h1 {
  margin-bottom: 45px;
  color: #E91E63;
  font-size: 35px;
  text-align: left;
}
.contact-left h4,.contact-left h5{
  text-align:left;
}
.address,.phone{
  margin-bottom:20px;
}
.address h4, .phone h4, .email h4 {
  margin-bottom: 7px;
  color: #000;
  font-weight: 600;
  font-size:16px;
}
.address h5,.phone h5,.email h5{
  margin-bottom:5px;
  color:#6B6B6B;
  font-size:14px;
  font-family:'open sans';
  letter-spacing:0px;
}
.email h5  a{
  color: #6B6B6B;
}
.contact input[type="text"] {
  width: 47%;
  padding: 10px;
  background: transparent;
  border:1px solid #000;
  margin: 10px 14px 13px 0px;
  color: #000;
}
.contact textarea{
  width:96%;
  border:1px solid #000;
  resize:none;
  padding:10px;
  height:180px;
}
.contact input[type="submit"] {
  background: transparent;
  border:1px solid #000;
  padding: 7px 15px;
  outline: none;
  margin-top:10px;
  color:#000;
}
.contact input[type="submit"]:hover{
  border:1px solid #E91E63;
  color:#E91E63;
}
/*--//contact--*/

/*--Map --*/
.map-w3ls {
  position:relative;
}
.map-w3ls  iframe {
  width: 100%;
  height: 350px;
  border: 5px solid #FAFAFA;

}
.special {
  position: absolute;
  top: 78px;
  left: 650px;
  width: 18%;
  background: rgba(233, 30, 99, 0.64);
  padding: 50px;
  color:#fff;
}
.special h4{
  font-size:20px;
  margin-bottom:12px;
  font-weight:600;
}
.special h5{
  font-size:16px;
  margin-bottom:7px;
}
/*-- //Map--*/
/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #E91E63;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: white;
}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

/*--singe--*/
.single {
  padding: 50px 0;
}
.single h1{
  font-size:50px;
  color:#000;
  margin-bottom:50px;
}
.single p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
  color: #555;
}
ul.ad-info li {
  list-style-type:none;
}
.post-details{
  margin-bottom:50px;
}
.post-details h4{
  font-size:30px;
  text-align:left;
  color:#000;
  margin:30px 0px;
}
.single-top img{
  width:100%;
}
.glyphicon-picture{
  font-size:30px;
  color:#000;
}
.article-post.two {
  margin-top: 3em;
}
.grid-single{
  width:70%;
  margin:1em auto;
}
.single-one{
  float:left;
  width:33.3%;
  text-align: center;
}
.single-one span {
  color: #555;
  font-size:1em;
}
.single-one span a{
  color: #555;
  text-decoration:none;
}
.post-meta {
  font-size: 0.9em;
  text-align: right;
  line-height: 24px;
  float: left;
  width: 110px;
}
.post-details.s-page {
  width: 90.3%;
}
p.eget {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
  color: #555;
  padding: 1em 0;
}
ul.social-share{
  float:left;
}
ul.social-share li{
  display: inline-block;
}
ul.social-share li span{
  color: #242a2c;
  font-size:1.2em;
  margin:0 1em 0 0;
  font-weight:400;
}
ul.social-share li  i{
  background: url(../images/icons.png)no-repeat -78px -2px;
  width:25px;
  height:25px;
  display: inline-block;
  margin: 0 12px;
  vertical-align: middle;
}
ul.social-share li  i:hover{
  background: url(../images/icons.png)no-repeat -78px -27px;
}
ul.social-share li  i.tin{
  background: url(../images/icons.png)no-repeat -100px -2px;
}
ul.social-share li  i.tin:hover{
  background: url(../images/icons.png)no-repeat -100px -27px;
}
ul.social-share li  i.message{
  background: url(../images/icons.png)no-repeat -125px -2px;
}
ul.social-share li  i.message:hover{
  background: url(../images/icons.png)no-repeat -125px -27px;
}
.top-comments h3,.leave h3{
  color: #E91E63;
  font-size: 35px;
  font-weight: 400;
  line-height: 1.5em;
  text-align:left;
}
.single-middle{
  background: #f4f4f4;
  padding: 1.5em;
}
i.arrow{
  background: url(../images/icons.png)no-repeat -153px -2px;
  width: 25px;
  height: 25px;
  display: inline-block;
  float: right;
}
i.arrow:hover{
  background: url(../images/icons.png)no-repeat -153px -27px;
}
.comments-top-top{
  background:#F4F4F4;
}
.men{
  background:#586165;
  float: left;
  width: 9%;
  text-align: center;
  padding: 2em 0;
}
span.glyphicon.glyphicon-user {
  color: #fff;
  font-size: 16px;
}
p.men-it{
  float: left;
  width:86%;
  margin:0 0 0 2%;
  font-size:0.9em;
  font-weight: 400;
  line-height: 1.6em;
  color: #555;
  padding: 1.2em 0;
}
.met-in{
  margin: 0 0 0 3em;
}
.met {
  padding: 1em 0;
}
p.smith{
  float:left;
  padding: 0;
  font-size:1em;
}
p.smith a{
  text-decoration: none;
  color:#242a2c;
  font-weight: 500;
  font-size: 1.2em;
}
.code-in {
  padding: 0 0 0.5em;
}
p.smith  span{
  font-weight: 400;
  padding: 0 2em;
  color: #1f1e23;
}
.top-in{
  background:#f8f8f8;
}
p.reply{
  float:right;
  padding:0;
  width: 17%;
  color:#362f2f;
  font-size:1em;
}
p.reply a{
  text-decoration:none;
  color: #555;
}
p.reply a:hover{
  color:#CA4D4D;
}
p.reply i{
  background: url(../images/icons.png)no-repeat -181px -4px;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 14px 0 0p
}
p.reply i:hover{
  background: url(../images/icons.png)no-repeat -181px -29px;
}
.single-us input[type="text"],.leave textarea,.leave input[type="submit"] {
  font-size: 1em;
  width: 100%;
  padding: 0.8em 1em;
  margin: 0.5em 0;
  background: #fff;
  outline: none;
  border: 1px solid #ddd;
  color: #555;
  -webkit-appearance: none;
}
.leave input[type="submit"] {
  border: none;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.7em;
  display: inline-block;
  margin: 0.5em 0 0 0;
  -webkit-appearance: none;
  width: 10%;
  background-color: #000;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.leave input[type="submit"]:hover{
  background:#E91E63;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.leave textarea {
  resize: none;
  width: 100%;
  margin: 0.5em 0em;
  height: 185px;
}
.top-comments {
  padding-top: 35px;
}
.leave {
  margin-top:20px;
}


